@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.navbar{
    height: 8vh;
    .nav{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        padding: 0 1em;
        .nav__items{
            display: flex;
            align-items: center;
            width: 40%;
            justify-content: space-evenly;
            .nav__link{
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                text-transform: none;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 14px;
                    text-transform: none;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }
    }
}